* {
    padding: 0;
    margin: 0;
}

html,
body {
    color: #555;
}

.controls {
    text-align: center;
    margin: 20px auto;
}

button.add-pizza,
button.add-pizza:visited {
    border: 1px solid #FF5733;
    border-radius: 5px;
    background-color: #FF5733;
    color: #fff;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
    -webkit-box-shadow: 0 5px 5px 0;
    box-shadow: 0 5px 5px 0 grey;
    outline: none;
}

button.add-pizza:hover {
    outline: none;
}

.pizza-list {
    list-style: none;
}

.pizza {
    background: url(pizza.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 150px;
    float: left;
    margin: 20px;
    position: relative;
}

.remove-pizza {
    position: absolute;
    color: red;
    top: 5px;
    right: 5px;
}
